<script type="module" src="/static/js/redeemed.js"></script>

<div class="row flex-grow-1 justify-content-center">
    <div class="col text-center">
        <img src="{{ url_for('static', filename='images/congratulations.svg') }}" id="logo" alt="Logo" class="img-fluid"
            style="max-height: 10%; width: 90%; margin-bottom: 10vh;">
        <p class="fw-bold lead wide-text">Your voucher has successfully been redeemed!</p>
        <img src="{{ url_for('static', filename='images/party-popper.svg') }}" alt="Party Popper" class="party-popper">
        <p class="next-voucher-text">DONT FORGET TO CLAIM YOUR NEXT VOUCHER IN:</p>
        <p id="countdown" class="mb-4 countdown-text"></p>
    </div>
</div>